<h2>Edit Task</h2>

<form action="/tasks/<%=@task.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<label> Date (ex. dd/mm/yyyy) </label>
<input type="text" name="date_worked" value="<%=@task.date_worked %>"> </br>

<label> Task </label>
<input type="text" name="task" value="<%=@task.task %>" > </br>

<label> Project </label>
<input type="text" name="project_title" value="<%=@task.project_title %>"> </br>

<label> Hours (ex. 2.0)</label>
<input type="text" name="hrs_worked" value="<%=@task.hrs_worked %>"> </br>

<input class="btn btn-primary" type="submit" value="submit">
</form>