<h2>Task List</h2>

<%@tasks.each do |task| %>
  <a href="/tasks/<%=task.id%>/edit"> Edit</a>
  <%= task.date_worked %>
  <%= task.task %>
  <%= task.hrs_worked %>
  <%= task.project_title %>
  
  <br />
  <% end %>
